<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WordsCounter</title>
    <p>Hello there!</p>

    <form method="POST" th:action="@{/count}">
        <div>
            <label>Enter text</label>
            <textarea th:value ="${text}" name = "text"></textarea>
        </div>
        <div>
            <label>Enter Url</label>
            <input type = "text" th:value ="${url}" name = "url"/>
        </div>
        <input type = "submit" value="Submit Url"/>
    </form>

    <div>
        <h1 th:text="${result}"></h1>
    </div>

    <div>
        <tr th:each="el: ${resultColl}">
            <td th:text="${el}" />
        </tr>
    </div>

</head>
<body>

</body>
</html>